@import url('https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap');
@import url('https://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap');
@import url('https://fonts.googleapis.com/css?family=Pacifico&display=swap&subset=cyrillic,cyrillic-ext,latin-ext,vietnamese');
@import url('https://fonts.googleapis.com/css?family=Rajdhani:300,400,500,600,700&display=swap&subset=latin-ext');
@import url('https://fonts.googleapis.com/css?family=Oswald:200,300,400,500,600,700&display=swap&subset=latin-ext');
@import url('https://fonts.googleapis.com/css?family=Great+Vibes&display=swap&subset=latin-ext');

.navbar-nav .nav-item .nav-link{
	font-family: 'Great Vibes', cursive;
	font-weight: 600;
	color:#343a40; /* #202521; */
	font-size: 25px;
	letter-spacing: 2px;
	transition: 0.5s ease;
}


.navbar-nav .nav-item .nav-link:hover{
      color: #dfab1d !important;
}

.progress-container {
  width: 100%;
  height: 5px;
  background:  #fefefe;

}

.progress-bar {
  height: 5px;
  
  width: 0%;
}

.dropdown-content {
		visibility: hidden;
		position: absolute;
		background-color: #fff;
		min-width: 200px;
		box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
		opacity: 0;
		transform: translateY(40px);
		margin-top: 0px;
		transition: .5s;
		border-top-right-radius: 25px;
		border-bottom-left-radius: 25px;
		}


		.dropdown-content a {
		color: black;
		padding: 12px 16px;
		text-decoration: none;
		display: block;
	    font-family: 'Great Vibes', cursive;
	    font-size: 20px;
	    font-weight: 600;
	    letter-spacing: 3px;
	    transition: 0.5s ease;
	    border-top-right-radius: 25px;
		border-bottom-left-radius: 25px;
 

		}


.dropdown-content a:hover {
	background-color: #fff;
	text-decoration: none;
    color: #dfab1d;
}


.nav-item:hover .dropdown-content {
	display: block; opacity: 1;
	visibility: visible;
	transform: translateY(0px); 
}


.menu{
  border-top-left-radius: 35px;
  border-top-right-radius: 35px;
  border-bottom-left-radius: 35px;
  border-bottom-right-radius: 35px;
  background-color: #dfab1d;
  color: #fff;
  font-family: 'Great Vibes', cursive;
  font-weight: 600;
  margin-bottom: 0px;
  margin-top: 0px;
  font-size: 20px;
  padding-top: 12px;
  padding-bottom: px;
  padding-left: 10px;
  padding-right: 10px;
  transition: 0.5s ease;
  letter-spacing: 0px;
  text-decoration: none;
}

.menu:hover{
      background-color: transparent;
  color: #dfab1d;
  text-decoration: none;
}






header .bgimg{
	background-image: url('../images/feedback.jpg');
	width: 100%;
   height: 500px;
   background-size: 100% 100%;
   background-attachment: fixed;

}

.bgimg .overlay3{
    
    width: 100%;
    height: 500px;
    background-color: rgba(0, 0, 0, 0.7);
    padding-top: 170px;


}

.headingtop{
	font-family: 'Great Vibes', cursive;
	font-size: 80px;
	font-weight: 600;
	color: #fff;
}

 
	
@media(min-width: 480px) and (max-width: 574px){

    .headingdiv .headingtop{
    	font-size: 70px;
    }   
    

}

.section_1{
	margin-bottom: 100px;
}

.s1heading{
	margin-top: 300px;
	margin-left: 20px;
	margin-right: 190px;


	font-family: 'Great Vibes', cursive;
	font-size: 90px;
	
}

@media(min-width: 480px) and (max-width: 574px){

     .s1heading{
     	margin-top: 0px;
     }

}

.s1heading2{
	margin-left: 80px;
	font-family: 'Great Vibes', cursive;
	font-size: 90px;
	margin-bottom: 50px;
}


.s1heading3{

	font-family: 'Great Vibes', cursive;
	font-size: 27px;
	font-weight: 600;
	margin-top: 50px;
	margin-bottom: 50px;

}

.s1heading4{

	font-family: 'Great Vibes', cursive;
	font-size: 27px;
	font-weight: 600;
	margin-top: 50px;
	margin-bottom: 50px;
}

.fdiv1{
	font-size: 20px;
	font-weight: 600;
	color: grey
}

.fdiv2{
	margin-top: 50px;
	font-size: 20px;

	font-weight: 600;
	color: grey
}

.fdiv3{
	margin-top: 50px;
	font-size: 20px;
	font-weight: 600;
	color: grey
}

.fdiv4{
	font-size: 20px;
	font-weight: 600;
	color: grey
}

.fdiv5{
	margin-top: 50px;
	font-size: 20px;
	font-weight: 600;
	color: grey
}


.fdiv6{
	margin-top: 50px;
	font-size: 20px;
	font-weight: 600;
	color: grey

}

.fdiv7{
	font-size: 20px;
	font-weight: 600;
	color: grey
}

.section_1 a{
	background-color: #dfab1d;
    border-top-left-radius: 35px;
	border-top-right-radius: 35px;
	border-bottom-left-radius: 35px;
	border-bottom-right-radius: 35px;
    color: #fff;
    font-family: 'Great Vibes', cursive;
    font-size: 25px;
    transition: 0.6s ease;
    letter-spacing: 2px;
    padding-top: 5px;
    padding-bottom: 0px;
    margin-bottom: 0px;
    margin-left: px;
}

.section_1 a:hover{
	background-color: transparent ;
	color: #dfab1d;
}